.cuepi{
    background-color: bisque;
}

.estu{
    margin-left: 50%;
    text-align: justify;
     
}

.prime{
    margin-top: 5%;
}

.expe{
    margin-bottom: 50%;
}


.titu{
    margin-left: 30%;
  
    }

.datis{
    margin-top: 8%;
}    

.foti{  
   
    height: 200px;
    margin-left: 80%;
    
   
   
}

.piecito{
    text-align: justify;
    margin-top: 12%;
}

.afi{
    margin-left: 80%;

}

.tab{   
    margin-left: 80%;
}

.t1{
    margin-left: 80%;
}

.t2{
    margin-left: 80%;
}

.t3{
    margin-left: 80%;
}

.t4{
    margin-left: 80%;
}

.idi{
    margin-left: 12%;
}

.f1{
    width: 50px;
    height: 50px;
}

.f2{
    width: 50px;
    height: 50px;
}

.f3{
    width: 50px;
    height: 50px;
}

.f4{
    width: 50px;
    height: 50px;
}

.f5{
    width: 50px;
    height: 50px;
}
.f6{
    width: 50px;
    height: 50px;
}

.f7{
    width: 50px;
    height: 50px;
}

.f8{
    width: 50px;
    height: 50px;
}

.f9{
    width: 50px;
    height: 50px;
}

.f10{
    width: 50px;
    height: 50px; 
}

.f11{
    width: 50px;
    height: 50px;
}

.ad{
    margin-left: 10%;
}

.te{
    margin-left: 10%;
}

.aux{
    margin-left: 10%;
}

.pog{
    margin-left: 10%;
}

.cli{
    margin-left: 10%;
}

.ord{
    margin-left: 10%;
}

